<div class="modal fade" id="botonEditarExpLaboral" tabindex="-1" aria-labelledby="exampleModalLael"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLbel">Editar experiencia laboral</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="row">
                        <div class="col">
                            <label for="userFormLabel" class="form-label">Empresa</label>
                            <input type="text" formLabelControl="empresa" class="form-control">
                        </div>
                        <div class="col">
                            <label for="userFormLabel" class="form-label">Cargo desempeñado</label>
                            <input type="text" formLabelControl="cargo" class="form-control">
                        </div>
                    </div>
                    <label for="userFormLabel" class="form-label">Descripción de tareas realizadas</label>
                    <textarea class="form-control" formLabelControl="tareas" id="inputName" rows="4"
                        placeholder="Describe las tareas desarrolladas..." size="300">
                    </textarea>
                    <div class="row">
                        <div class="col">
                            <label for="userFormLabel" class="form-label">Desde</label>
                            <input type="date" formLabelControl="desde" class="form-control">
                        </div>
                        <div class="col">
                            <label for="userFormLabel" class="form-label">Hasta</label>
                            <input type="date" formLabelControl="hasta" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
</div>