<div class="footer-distributed">

    <div class="footer-left" id="contacto">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>San Antonio de Arredondo, Cordoba, Argentina</p>
        </div>

        <div>
            <a href="https://wa.me/543541629986" target="_blank">
                <i class="fa fa-phone"></i>
                <p>+54 3541-6299-86</p>
            </a>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:davidmiguelpascual@gmail.com" target="_blank">davidmiguelpascual@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-center">

        <div class="footer-icons">

            <a href="https://www.linkedin.com/in/david-pascual1985/" target="_blank" title="Linkedin">
                <i class="fa fa-linkedin"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100076512797812" target="_blank" title="Facebook">
                <i class="fa fa-facebook"></i></a>
            <a href="https://github.com/DavidPascual1985" target="_blank" title="GitHub">
                <i class="fa fa-github"></i></a>

        </div>

    </div>

    <div class="footer-right">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                data-bs-target="#botonFooter">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
        </div>
        <p class="footer-company-about">
            <span>Sobre la compañia</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
            vehicula sit amet.
        </p>
    </div>
    <app-editar-footer></app-editar-footer>
</div>