<header>
    <div class="container-expand">
        <nav class="navbar justify-content-around bg-body-tertiary">
            <a class="navbar-brand" href="https://argentinaprograma.inti.gob.ar" target="_blank">
                <img src="assets/img/Logo Argentina Programa" alt="logoArgentinaPrograma" title="Argentina Programa"
                    class="logoAp img-fluid">
            </a>

            <!-- Lista de REDES SOCIALES (Bootstrap + Fontawesome)-->
            <div class="justify-content">
                <ul class="list-group list-group-horizontal px-4">

                    <li class="list-group-item text-primary bg-body-tertiary" style="border:none;">
                        <a href="https://www.linkedin.com/in/david-pascual1985/" target="_blank" title="Linkedin">
                            <i class="fa-brands fa-linkedin fa-2x" style="color:#0e76a8;"></i>
                        </a>
                    </li>
                    <li class="list-group-item text-primary bg-body-tertiary" style="border:none;">
                        <a href="https://www.facebook.com/profile.php?id=100076512797812" target="_blank">
                            <i class="fa-brands fa-facebook-f fa-2x" style="color:  #3b5998;" alt="Facebook"
                                title="Facebook"></i>
                        </a>
                    </li>
                    <li class=" list-group-item text-primary bg-body-tertiary" style="border:none;">
                        <a href="https://github.com/DavidPascual1985" target="_blank" title="GitHub">
                            <i class="fa-brands fa-github fa-2x" style="color:#171515;"></i>
                        </a>
                    </li>

                    <!-- Button Trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#botonLogin">
                        Login
                    </button>
                </ul>
            </div>
        </nav>
    </div>
</header>

<app-login-header></app-login-header>