<nav id="navbar-scroll1" class="navbar barra-seccion navbar-expand bd-navbar sticky-top"
    style="scrollbar-arrow-color: rgb(7, 127, 231);">
    <a class="navbar-brand" href="#"></a>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#sobreMi">Sobre mi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#expLaboral">Experiencia Laboral</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#educacion">Educacion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#proyectos">Proyectos</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" role="button"
                aria-expanded="false">CONTACTO</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#contacto">Facebook</a></li>
                <li><a class="dropdown-item" href="#scrollspyHeading4">Github</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#scrollspyHeading5">Linkedin</a></li>
            </ul>
        </li>
    </ul>
</nav>