<div class="modal fade" id="botonFooter" tabindex="-1" aria-labelledby="exampleModalLbel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar datos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                    <div class="row">
                        <div class="col">
                            <label for="userFormLabel" class="form-label">Dirección
                            </label>
                            <input type="text" formLabelControl="direccion" class="form-control">
                        </div>

                        <div class="col">
                            <label for="userFormLabel" class="form-label">Telefono</label>
                            <input type="number" formLabelControl="telefono" class="form-control" min="0">
                        </div>

                        <div class="col">
                            <label for="userFormLabel" class="form-label">Email</label>
                            <input type="email" formLabelControl="email" class="form-control">
                        </div>
                    </div>


                    <!-- ¿Como hacer para que se habiliten y muestren solo las redes sociales 
                        que el usuario ingrese? -->
                    <div class="row">
                        <div class="col">
                            <label for="userFormLabel" class="form-label">Linkedin</label>
                            <input type="url" class="form-control" id="userFormLabel" name="homepage" placeholder="Link URL...">
                        </div>
                        <div class="col">
                            <label for="userFormLabel" class="form-label">Facebook</label>
                            <input type="url" class="form-control" id="userFormLabel" name="homepage" placeholder="Link URL...">
                        </div>
                        <div class="col">
                            <label for="userFormLabel" class="form-label">GitHub</label>
                            <input type="url" class="form-control" id="userFormLabel" name="homepage" placeholder="Link URL...">
                        </div>
                    </div>
                    <!-- Fin del comentario anterior -->

                    <label for="userFormLabel" class="form-label">Titulo
                    </label>
                    <input type="text" formLabelControl="titulo" class="form-control">
                    <label for="userFormLabel" class="form-label">Descripción</label>
                    <textarea class="form-control" formLabelControl="descripcion" id="userFormLabel" rows="4"
                        placeholder="Puedes escribir hasta 200 caracteres aquí..." size="200"></textarea>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
</div>