<section id="proyectos">

    <nav class="navbar barra-seccion">
        <h2 class="fw-light">PROYECTOS</h2>
        <a class="navbar-brand">
            <div class="d-grid gap-4 justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#botonProyectos">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </a>
    </nav>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- CARD Proyecto1 -->
        <div class="col" *ngFor="let proyectos of proyectosLista">
            <div class="card h-100">
                <img [src]= "proyectos.imagen" class="card-img-top" alt="img_proyecto">
                <div class="container-fluid">
                    <div class="card-body-mp-0">
                        <div class="card-header-mp-0 bg-transparent">
                            <div class="card-title">
                                <nav class="navbar">
                                    <span class="navbar-text h4 text-dark">{{proyectos.nombre}}</span>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn-primary me-md-2" type="button"
                                            data-bs-toggle="modal" data-bs-target="#botonEditarProyectos">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                            data-bs-target="#botonEliminar">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">{{proyectos.descripcion}}</p>
                    <div class="card-body">
                        <a [href]= "proyectos.url" class="card-link fw-light">Link del proyecto</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-crear-proyecto></app-crear-proyecto>
<app-editar-proyecto></app-editar-proyecto>