<section id="proyectos">

    <nav class="navbar barra-seccion">
        <h2 class="fw-light">PROYECTOS</h2>
        <a class="navbar-brand">
            <div class="d-grid gap-4 justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#botonProyectos">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </a>
    </nav>

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- CARD Proyecto1 -->
        <div class="col">
            <div class="card h-100">
                <img src="assets/img/img_proyecto2.jpg" class="card-img-top" alt="img_proyecto2">
                <div class="container-fluid">
                    <div class="card-body-mp-0">
                        <div class="card-header-mp-0 bg-transparent">
                            <div class="card-title">
                                <nav class="navbar">
                                    <span class="navbar-text h4 text-dark">Proyecto 1</span>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn-primary me-md-2" type="button"
                                            data-bs-toggle="modal" data-bs-target="#botonEditarProyectos">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                            data-bs-target="#botonEliminar">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                        to additional content. This content is a little bit longer.</p>
                    <div class="card-body">
                        <a href="#" class="card-link fw-light">Link del proyecto</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- CARD Proyecto2 -->
        <div class="col">
            <div class="card h-100">
                <img src="assets/img/5herramientas_0.png" class="card-img-top" alt="proyecto1">
                <div class="container-fluid">
                    <div class="card-body-mp-0">
                        <div class="card-header-mp-0 bg-transparent">
                            <div class="card-title">
                                <nav class="navbar">
                                    <span class="navbar-text h4 text-dark">Proyecto 2</span>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn-primary me-md-2" type="button"
                                            data-bs-toggle="modal" data-bs-target="#botonEditarProyectos">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                            data-bs-target="#botonEliminar">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <p class="card-text">This is a short card.</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link fw-light">Link del proyecto</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- CARD Proyecto3 -->
        <div class="col">
            <div class="card h-100">
                <img src="assets/img/img_proyecto3.jpg" class="card-img-top" alt="img_proyecto3">
                <div class="container-fluid">
                    <div class="card-body-mp-0">
                        <div class="card-header-mp-0 bg-transparent">
                            <div class="card-title">
                                <nav class="navbar">
                                    <span class="navbar-text h4 text-dark">Proyecto 3</span>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn-primary me-md-2" type="button"
                                            data-bs-toggle="modal" data-bs-target="#botonEditarProyectos">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                            data-bs-target="#botonEliminar">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                        to additional content.</p>
                    <div class="card-body">
                        <a href="#" class="card-link fw-light">Link del proyecto</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- CARD Proyecto4 -->
        <div class="col">
            <div class="card h-100">
                <img src="./assets/img/Proyecto4.png" class="card-img-top" alt="...">
                <div class="container-fluid">
                    <div class="card-body-mp-0">
                        <div class="card-header-mp-0 bg-transparent">
                            <div class="card-title">
                                <nav class="navbar">
                                    <span class="navbar-text h4 text-dark">Proyecto 4</span>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                        <button class="btn btn-primary me-md-2" type="button"
                                            data-bs-toggle="modal" data-bs-target="#botonEditarProyectos">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </button>
                                        <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                            data-bs-target="#botonEliminar">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                    </div>
                                </nav>
                            </div>
                        </div>
                        <p class="card-text">This is a longer card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                        <div class="card-body">
                            <a href="#" class="card-link fw-light">Link del proyecto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-crear-proyecto></app-crear-proyecto>
<app-editar-proyecto></app-editar-proyecto>