<section id="sobreMi">

    <nav class="navbar barra-seccion">
        <h2 class="fw-light">SOBRE MI</h2>
        <a class="navbar-brand">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#botonSobreMi">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
            </div>
        </a>
    </nav>

    <div class="container-space-between">
        <div class="d-flex flex-column flex-md-row">
            <div class="col-sm">
                <div class="card custom-card my-2">
                    <div class="card-cover" style="background-image: url(assets/img/imagen-baner.png);">
                        <div class="circle-image" style="background-image: url(assets/img/ImagenPerfil.jpg);">
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">David Pascual</h4>
                        <p class="card-text">Full-Stack Web Developer Jr</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-crear-sobre-mi></app-crear-sobre-mi>