<section id="educacion">

    <nav class="navbar barra-seccion">
        <h2 class="fw-light">EDUCACION</h2>
        <a class="navbar-brand">
            <div class="d-grid gap-4 justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#botonCrearEducacion">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </a>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <!--Card de EDUCACION 1-->
            <div class="col-sm-6 mb-3 mb-sm-0" *ngFor="let educacion of educacionLista">
                <div class="card">
                    <div class="card-header">
                        <blockquote class="blockquote m-2">
                            <h4>{{educacion.titulo}}</h4>
                        </blockquote>
                    </div>
                    <div class="card-body">
                        <figure>
                            <blockquote class="blockquote">
                                <p>{{educacion.institucion}}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer">
                                Desde <cite title="Source Title">{{educacion.desde}} </cite>hasta <cite
                                    title="Source Title">{{educacion.hasta}}</cite>
                            </figcaption>
                            <p class=text-end>{{educacion.aprendizaje}}</p>
                        </figure>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-end">
                            <button class="btn btn-primary me-md-2" type="button" data-bs-toggle="modal"
                                data-bs-target="#botonEditarEducacion">
                                <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                            <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                data-bs-target="#botonEliminar">
                                <i class="fa-regular fa-trash-can"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

    </div>
</section>
<app-crear-educacion></app-crear-educacion>
<app-editar-educacion></app-editar-educacion>
