<div class="modal fade" id="botonLogin" tabindex="-1" aria-labelledby="exampleModalLael" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLbel">Ingresá tus datos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <label for="userFormLabel" class="frm-label">Usuario</label>
                    <input type="text" class="form-control" id="validaionServerUsername">
                    <label for="userFormLabel" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="inputPassword">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>